/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;*/
  /*background: url('/bg.png');*/
  background-color: #f9fafc;
}
/*.footer {*/
  /*position: absolute;*/
  /*bottom: 0;*/
  /*width: 100%;*/
  /*!* Set the fixed height of the footer here *!*/
  /*height: 60px;*/
  /*background-color: #f9fafc;*/
/*}*/


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body {
  padding-top: 20px;
  /*padding-bottom: 5px;*/
}

body > .container {
  padding: 0px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.jumbotron {
	margin: 0;
	padding: 40px 0 15px 0;
	/*margin-bottom: 15px;*/
  background-color:  #f9fafc !important;
}

code {
  font-size: 80%;
}

.navbar-nav {
  float: right;
}
.navbar {
  min-height: 100px;
}
.navbar-default {
  /*height: 100px;*/
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 #eff2f7;
}
.navbar-default .navbar-brand {
	/*color: #dadada;*/
  /*background-image: url("data:image;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNzgiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAxNzggMjIiPgogICAgPHRleHQgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBmb250LWZhbWlseT0iUm9ib3RvLUJsYWNrLCBSb2JvdG8iIGZvbnQtc2l6ZT0iMjgiIGZvbnQtd2VpZ2h0PSI3MDAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xIC02KSI+CiAgICAgICAgPHRzcGFuIHg9Ii40IiB5PSIyNi40IiBmaWxsPSIjRjY4MDIwIj5NSU5JTkc8L3RzcGFuPiA8dHNwYW4geD0iMTAwLjI0NiIgeT0iMjYuNCIgZmlsbD0iI0Y1ODIyMCI+IDwvdHNwYW4+IDx0c3BhbiB4PSIxMDcuMjE4IiB5PSIyNi40IiBmaWxsPSIjNTQ2NDk3Ij5QT09MPC90c3Bhbj4KICAgIDwvdGV4dD4KPC9zdmc+Cg==");*/
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: darkgrey;
}
.navbar-default .navbar-text {
	color: #dadada;
}
.navbar-default .navbar-nav > li > a {
	color: #000000;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: darkgrey;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: darkgrey;
	/*background-color: #0a6c9d;*/
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: darkgrey;
	/*background-color: #69102b;*/
}
.navbar-default .navbar-toggle {
	border-color: #0a6c9d;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #0a6c9d;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #dadada;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #dadada;
}
.navbar-default .navbar-link {
	color: #dadada;
}
.navbar-default .navbar-link:hover {
	color: #ffffff;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #dadada;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ffffff;
		background-color: #0a6c9d;
	}
}

span.logo-1 {
	font-weight: 700;
	color: #1994b8;
}

span.logo-2 {
	font-weight: 300;
	color: #FFF;
}

span.logo-3 {
	color: #FFF;
	font-weight: 100;
}

.navbar-collapse {
	font-size: 14px;
	font-weight: 200;
}

.note {
	margin: 0 0 20px 0;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid #eee;
	border-radius: 5px;
}

.note-info {
	background-color: #E8F6FC;
	border-color: #57b5e3;
}

.note-danger {
	background-color: #ff9999;
	border-color: #ff0000;
}

h4.note {
	margin-top: 0;
	font-weight: 300 !important;
}

.hash {
	font-family: 'Inconsolata', monospace;
}

/* Stats */
.stats {
	margin-bottom: 10px;
	margin-top: 5px;
}
.stats:last-child{
	width: auto;
}
.stats > h3 > i {
	width: 21px;
}
.stats > div{
	padding: 5px 0;
}
.stats > div > .fa {
	width: 25px;
}
.stats > div > span:first-of-type{
	font-weight: bold;
}

.navbar .container {
  padding-top: 23px;
}

.container-details {
  margin-top: 50px;
}

.orange {
  color: #f68020;
}

.main-header-container {
  margin-top: 35px;
}

.main-header {
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 36px !important;
  font-weight: bold !important;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  color: #151922;
  text-align: center;
}

.main-statistics-container {
  margin-top: 35px;
}

.main-statistics {
  /*padding: 24px 30px 32px 30px;*/
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px 0 #eff2f7;
  margin: 15px 0px;
}

.stats-header {
  padding-top: 24px;
  font-family: 'Roboto';
  font-size: 24px !important;
  font-weight: bold !important;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #3b4859;
}

.stats-info {
  margin-top: 40px;
  font-family: Roboto;
  font-size: 40px !important;
  font-weight: bold !important;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.4px;
  text-align: center;
  padding-bottom: 16px;
}

.last-block-statistics {
  border-radius: 8px 8px 0 0;
  background-color: #ffffff;
  box-shadow: 0 10px 20px 0 #eff2f7;
  margin: 15px 0 0 0;
}

.last-stats-header {
  padding: 24px 0;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold !important;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #3b4859;
  margin-bottom: 0 !important;
}

.table {
  background-color: #fcfdff !important;
  border-color: transparent !important;

}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #f9fafc !important;
}

thead {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 100 !important;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #3b4859;
}

.table>thead>tr>th {
  border-bottom: none !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
   border-top: none !important;
}

.ethereum-details-container {

}

.stats-note {
  font-family: Roboto;
  font-size: 18px !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: center;
  color: #546497;
  padding-bottom: 32px;
  margin-bottom: 0;
}

.table-block a {
  font-family: Roboto !important;
  font-size: 16px !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: 1.5 !important;
  letter-spacing: normal !important;
  color: #f68020 !important;
  text-decoration: underline;
}

.table-info {
  font-family: Roboto  !important;
  font-size: 14px !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: 1.71 !important;
  letter-spacing: normal !important;
  color: #546497 !important;
}
